<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Real Villa - Real Estate HTML5 Template" />
    <meta name="author" content="potenzaglobalsolutions.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Real Villa - Real Estate HTML5 Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" />

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:300,500,600,700%7CRoboto:300,400,500,700">

    <!-- CSS Global Compulsory (Do not remove)-->
    <link rel="stylesheet" href="css/font-awesome/all.min.css" />
    <link rel="stylesheet" href="css/flaticon/flaticon.css" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />

    <!-- Page CSS Implementing Plugins (Remove the plugin CSS here if site does not use that feature)-->
    <link rel="stylesheet" href="css/select2/select2.css" />
    <link rel="stylesheet" href="css/range-slider/ion.rangeSlider.css" />
    <link rel="stylesheet" href="css/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" type="text/css" href="css/animate/animate.min.css">

    <!-- Template Style -->
    <link rel="stylesheet" href="css/style.css" />

</head>

<body>

    <!--================================= header -->
    <header class="header">
        <div class="topbar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="d-block d-md-flex align-items-center text-center">
                            <div class="mr-auto d-inline-block">
                                <a href="tel:5238-9999"><i class="fa fa-phone mr-2 fa fa-flip-horizontal"></i>5238-9999</a>
                            </div>
                            <div class="social d-inline-block">
                                <ul class="list-unstyled">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                            <div class="login d-inline-block mt-2 m-md-0">
                                <a data-toggle="modal" data-target="#loginModal" href="#">Escritorio del dueño<i class="fa fa-user pl-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-light bg-white navbar-static-top navbar-expand-lg header-sticky">
            <div class="container-fluid">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">☰</button>
                <a class="navbar-brand" href="sd--home.html">
                    <img src="images/logo.png" alt="logo">
                </a>
                <div class="navbar-collapse collapse justify-content-center">
                    <ul class="nav navbar-nav">

                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Emprendimientos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Video 360º</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Funcionamiento</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Servicios <i class="fas fa-chevron-down fa-xs"></i></a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li class="active"><a class="dropdown-item" href="#">Servicio 1</a></li>
                                <li><a class="dropdown-item" href="#">Servicio 2</a></li>
                                <li><a class="dropdown-item" href="#">Servicio 3</a></li>
                                <li><a class="dropdown-item" href="#">Servicio 4</a></li>
                                <li><a class="dropdown-item" href="#">Servicio 5</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Blog</a>
                        </li>
                    </ul>
                </div>
                <div class="add-listing d-none d-sm-block">
                    <a class="btn btn-primary btn-md" href="sd--submit-property.html"><i class="fa fa-plus-circle"></i> Publicar</a>
                </div>
            </div>
        </nav>
    </header>
    <!--================================= header -->

    <!--================================= Modal login -->
    <div class="modal login fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h5 class="modal-title" id="loginModalLabel">Log in & Register</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs nav-tabs-02 justify-content-center" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="false">Log in</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="true">Register</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                            <form class="form-row mt-4 align-items-center">
                                <div class="form-group col-sm-12">
                                    <input type="text" class="form-control" placeholder="Username">
                                </div>
                                <div class="form-group col-sm-12">
                                    <input type="Password" class="form-control" placeholder="Password">
                                </div>
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-primary btn-block">Sign up</button>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled d-flex mb-1 mt-sm-0 mt-3">
                                        <li class="mr-1"><a href="#"><b>Already Registered User? Click here to login</b></a></li>
                                    </ul>
                                </div>
                            </form>
                            <div class="login-social-media border pl-4 pr-4 pb-4 pt-0 rounded">
                                <div class="mb-4 d-block text-center"><b class="bg-white pl-2 pr-2 mt-3 d-block">Login or Sign in with</b></div>
                                <form class="row">
                                    <div class="col-sm-6">
                                        <a class="btn facebook-bg social-bg-hover d-block mb-3" href="#"><span><i class="fab fa-facebook-f"></i>Login with Facebook</span></a>
                                    </div>
                                    <div class="col-sm-6">
                                        <a class="btn twitter-bg social-bg-hover d-block mb-3" href="#"><span><i class="fab fa-twitter"></i>Login with Twitter</span></a>
                                    </div>
                                    <div class="col-sm-6">
                                        <a class="btn google-bg social-bg-hover d-block mb-3 mb-sm-0" href="#"><span><i class="fab fa-google"></i>Login with Google</span></a>
                                    </div>
                                    <div class="col-sm-6">
                                        <a class="btn linkedin-bg social-bg-hover d-block" href="#"><span><i class="fab fa-linkedin-in"></i>Login with Linkedin</span></a>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                            <form class="form-row mt-4 mb-5 align-items-center">
                                <div class="form-group col-sm-12">
                                    <input type="text" class="form-control" placeholder="Username">
                                </div>
                                <div class="form-group col-sm-12">
                                    <input type="email" class="form-control" placeholder="Email Address">
                                </div>
                                <div class="form-group col-sm-12">
                                    <input type="Password" class="form-control" placeholder="Password">
                                </div>
                                <div class="form-group col-sm-12">
                                    <input type="Password" class="form-control" placeholder="Confirm Password">
                                </div>
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-primary btn-block">Sign up</button>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled d-flex mb-1 mt-sm-0 mt-3">
                                        <li class="mr-1"><a href="#"><b>Already Registered User? Click here to login</b></a></li>
                                    </ul>
                                </div>
                            </form>
                            <div class="login-social-media border pl-4 pr-4 pb-4 pt-0 rounded">
                                <div class="mb-4 d-block text-center"><b class="bg-white pl-2 pr-2 mt-3 d-block">Login or Sign in with</b></div>
                                <form class="row">
                                    <div class="col-sm-6">
                                        <a class="btn facebook-bg social-bg-hover d-block mb-3" href="#"><span><i class="fab fa-facebook-f"></i>Login with Facebook</span></a>
                                    </div>
                                    <div class="col-sm-6">
                                        <a class="btn twitter-bg social-bg-hover d-block mb-3" href="#"><span><i class="fab fa-twitter"></i>Login with Twitter</span></a>
                                    </div>
                                    <div class="col-sm-6">
                                        <a class="btn google-bg social-bg-hover d-block mb-3 mb-sm-0" href="#"><span><i class="fab fa-google"></i>Login with Google</span></a>
                                    </div>
                                    <div class="col-sm-6">
                                        <a class="btn linkedin-bg social-bg-hover d-block" href="#"><span><i class="fab fa-linkedin-in"></i>Login with Linkedin</span></a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--================================= Modal login -->

    <!--================================= breadcrumb -->
    <div class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="sd--home.html"> <i class="fas fa-home"></i> </a></li>
                        <li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span> Pont Bleu </span></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!--================================= breadcrumb -->

    <!--================================= slider -->
    <section class="clearfix">
        <div id="slider" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#slider" data-slide-to="0" class="active"></li>
                <li data-target="#slider" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="img-fluid" src="images/slider/01.jpg" alt="">
                    <div class="slider-content">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 col-md-10">
                                    <span class="text-white animated-07">Entrega Inmediata</span>
                                    <h1 class="text-white mb-3 animated-08">Av. San Martín 1748 | Caballito Norte</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="img-fluid" src="images/slider/02.jpg" alt="">
                    <div class="slider-content">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-9 col-md-10">
                                    <span class="text-white animated-07">Find your happy</span>
                                    <h1 class="text-white mb-3 animated-08">Search properties for sale and to rent in Mumbai.</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-none d-md-block">
                <a class="carousel-control-prev" href="#slider" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#slider" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>
    <!--================================= slider -->

    <!--================================= feature -->
    <section class="space-ptb">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
                    <div class="bg-light p-4 py-5 text-center h-100">
                        <i class="flaticon-agent font-xlll text-primary mb-4"></i>
                        <h5 class="mb-3">El Proyecto</h5>
                        <p class="mb-0">Unidades diseñadas para vivir, con el confort que la familia necesita, aprovechando al máximo los espacios, cuidando los detalles y la calidad de las terminaciones.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
                    <div class="bg-light p-4 py-5 text-center h-100">
                        <i class="flaticon-like font-xlll text-primary mb-4"></i>
                        <h5 class="mb-3">El Edificio</h5>
                        <p class="mb-0">Unidades de 1, 2 y 3 ambientes, balcones aterrazados, cocheras y bauleras opcionales. Multiamenities de alta gama: SUM - Sala de Juegos - Piscina - Spa, Sauna y Vestuarios - Fitness Center - Espacio Social - Microcine - Business Center - Sky Park con Huerta.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mb-4 mb-sm-0">
                    <div class="bg-light p-4 py-5 text-center h-100">
                        <i class="flaticon-room-key-1 font-xlll text-primary mb-4"></i>
                        <h5 class="mb-3">Ubicación</h5>
                        <p class="mb-0">Av. San Martin 1748, Caballito Norte. A metros de Av. Juan B. Justo y a pocas cuadras del Parque Centenario.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="bg-light p-4 py-5 text-center h-100">
                        <i class="flaticon-house-key-1 font-xlll text-primary mb-4"></i>
                        <h5 class="mb-3">Financiación</h5>
                        <p class="mb-0">
                            Escrituración 24 meses posteriores al final de obra.
                        </p>
                        <p class="mb-0">
                            Anticipo 30%
                        </p>
                        <p class="mb-0">
                            Saldo en dólares a un año.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================================= feature -->

    <!--================================= Featured properties-->
    <section class="space-pb">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center">
                        <h2>Unidades Tipo</h2>
                        <p>Departamentos de 1, 2 y 3 ambientes de 50m2 a 90m2</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="property-item">
                        <div class="property-image bg-overlay-gradient-04">
                            <img class="img-fluid" src="images/property/grid/01.jpg" alt="">
                            <div class="property-lable">
                                <span class="badge badge-md badge-primary">Casa</span>
                                <span class="badge badge-md badge-secondary">360º</span>
                                <span class="badge badge-md badge-secondary">Hot</span>
                            </div>
                            <span class="property-trending" title="trending"><i class="fas fa-bolt"></i></span>
                            <div class="property-agent-popup">
                                <a href="#"><i class="fas fa-camera"></i> 06</a>
                            </div>
                        </div>
                        <div class="property-details">
                            <div class="property-details-inner">
                                <h5 class="property-title"><a href="property-detail-style-01.html">Casa de 7 Amb. 400m2</a></h5>
                                <div class="property-info">
                                    <span class="property-type">Venta</span>
                                    <span class="property-address"><i class="fas fa-map-marker-alt fa-xs"></i>Villa Crespo</span>
                                </div>
                                <div class="property-price text-primary">$150.00<span> / month</span> </div>
                                <ul class="property-info list-unstyled d-flex">
                                    <li class="flex-fill property-bed"><i class="fas fa-bed"></i>Dorm.<span>4</span></li>
                                    <li class="flex-fill property-bath"><i class="fas fa-bath"></i>Baños<span>4</span></li>
                                    <li class="flex-fill property-m-sqft"><i class="far fa-square"></i>Sup. Cub.<span>145m2</span></li>
                                </ul>
                            </div>
                            <div class="property-btn">
                                <a class="property-link w-100" href="property-detail-style-01.html">Ver más</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="property-item">
                        <div class="property-image bg-overlay-gradient-04">
                            <img class="img-fluid" src="images/property/grid/01.jpg" alt="">
                            <div class="property-lable">
                                <span class="badge badge-md badge-primary">Casa</span>
                                <span class="badge badge-md badge-secondary">360º</span>
                                <span class="badge badge-md badge-secondary">Hot</span>
                            </div>
                            <span class="property-trending" title="trending"><i class="fas fa-bolt"></i></span>
                            <div class="property-agent-popup">
                                <a href="#"><i class="fas fa-camera"></i> 06</a>
                            </div>
                        </div>
                        <div class="property-details">
                            <div class="property-details-inner">
                                <h5 class="property-title"><a href="property-detail-style-01.html">Casa de 7 Amb. 400m2</a></h5>
                                <div class="property-info">
                                    <span class="property-type">Venta</span>
                                    <span class="property-address"><i class="fas fa-map-marker-alt fa-xs"></i>Villa Crespo</span>
                                </div>
                                <div class="property-price text-primary">$150.00<span> / month</span> </div>
                                <ul class="property-info list-unstyled d-flex">
                                    <li class="flex-fill property-bed"><i class="fas fa-bed"></i>Dorm.<span>4</span></li>
                                    <li class="flex-fill property-bath"><i class="fas fa-bath"></i>Baños<span>4</span></li>
                                    <li class="flex-fill property-m-sqft"><i class="far fa-square"></i>Sup. Cub.<span>145m2</span></li>
                                </ul>
                            </div>
                            <div class="property-btn">
                                <a class="property-link w-100" href="property-detail-style-01.html">Ver más</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="property-item">
                        <div class="property-image bg-overlay-gradient-04">
                            <img class="img-fluid" src="images/property/grid/01.jpg" alt="">
                            <div class="property-lable">
                                <span class="badge badge-md badge-primary">Casa</span>
                                <span class="badge badge-md badge-secondary">360º</span>
                                <span class="badge badge-md badge-secondary">Hot</span>
                            </div>
                            <span class="property-trending" title="trending"><i class="fas fa-bolt"></i></span>
                            <div class="property-agent-popup">
                                <a href="#"><i class="fas fa-camera"></i> 06</a>
                            </div>
                        </div>
                        <div class="property-details">
                            <div class="property-details-inner">
                                <h5 class="property-title"><a href="property-detail-style-01.html">Casa de 7 Amb. 400m2</a></h5>
                                <div class="property-info">
                                    <span class="property-type">Venta</span>
                                    <span class="property-address"><i class="fas fa-map-marker-alt fa-xs"></i>Villa Crespo</span>
                                </div>
                                <div class="property-price text-primary">$150.00<span> / month</span> </div>
                                <ul class="property-info list-unstyled d-flex">
                                    <li class="flex-fill property-bed"><i class="fas fa-bed"></i>Dorm.<span>4</span></li>
                                    <li class="flex-fill property-bath"><i class="fas fa-bath"></i>Baños<span>4</span></li>
                                    <li class="flex-fill property-m-sqft"><i class="far fa-square"></i>Sup. Cub.<span>145m2</span></li>
                                </ul>
                            </div>
                            <div class="property-btn">
                                <a class="property-link w-100" href="property-detail-style-01.html">Ver más</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <a class="btn btn-link text-accent" href="property-list.html"><i class="fas fa-plus"></i>Ver todos los avisos</a>
                </div>
            </div>
        </div>

        <div class="container emprendimiento-details">
            <div class="property-floor-plans space-pt">
                <div class="row">
                    <div class="col-sm-3 mb-3 mb-sm-0">
                        <h5>Planos</h5>
                    </div>
                    <div class="col-sm-9">
                        <div class="accordion-style-2" id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="accordion-title mb-0">
                                        <button class="btn btn-link d-flex ml-auto align-items-center text-accent" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Unidad de 1 ambiente <i class="fas fa-chevron-down fa-xs"></i></button>
                                    </h5>
                                </div>
                                <div id="collapseOne" class="collapse show accordion-content" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Estudio con terraza (superficie en m2: de 41,91 + 7,90 = 49,81m2 totales). Bauleras y cocheras opcionales.</p>
                                        <img class="img-fluid" src="images/property/floor-plans-01.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="accordion-title mb-0">
                                        <button class="btn btn-link d-flex ml-auto align-items-center text-accent collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Unidad de 2 ambientes <i class="fas fa-chevron-down fa-xs"></i>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse accordion-content" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit rem esse qui voluptatem tempore nobis nihil, ex, odit vel exercitationem aperiam provident consectetur. Ea, eos, blanditiis! Rem quia, doloremque numquam.</p>
                                        <img class="img-fluid" src="images/property/floor-plans-01.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mt-4 mb-4 mb-sm-5 mt-sm-5">

            <div class="property-video">
                <div class="row">
                    <div class="col-sm-3 mb-3 mb-sm-0">
                        <h5>Video</h5>
                    </div>
                    <div class="col-sm-9">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/kacyaEXqVhs" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mt-4 mb-4 mb-sm-5 mt-sm-5">


            <div class="property-schedule">
                <div class="row">
                    <div class="col-sm-3 mb-3 mb-sm-0">
                        <h5>Solicitar Entrevista</h5>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-row">
                            <div class="form-group col-sm-6">
                                <input type="text" class="form-control" placeholder="Nombre">
                            </div>
                            <div class="form-group col-sm-6">
                                <input type="text" class="form-control" placeholder="Apellido">
                            </div>
                            <div class="form-group col-sm-12">
                                <input type="Text" class="form-control" placeholder="Teléfono">
                            </div>
                            <div class="form-group col-sm-12">
                                <input type="email" class="form-control" placeholder="E-mail">
                            </div>
                            <div class="form-group col-sm-12">
                                <input type="email" class="form-control" placeholder="Confirmar E-mail">
                            </div>
                            <div class="form-group col-sm-12">
                                <textarea class="form-control" rows="4" placeholder="Mensaje"></textarea>
                            </div>
                            <div class="form-group col-sm-12">
                                <button type="submit" class="btn btn-secondary">Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================================= Featured properties-->

    <!--================================= Need any help? -->
    <section class="space-pb">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <h2>Contacto</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-4 mb-4 mb-md-0">
                    <div class="bg-light h-100 p-5">
                        <h4>Reportar Anuncio</h4>
                        <p>Si considera que esta publicación no cumple con las condiciones de uso de solodueños.com puede denunciarla.</p>
                        <a class="btn btn-primary btn-sm mt-3" href="#">Reportar</a>
                    </div>
                </div>
                <div class="col-md-4 mb-4 mb-md-0">
                    <div class="bg-accent h-100 p-5">
                        <h4 class="text-white">WhatsApp</h4>
                        <p class="text-white">Lunes a viernes de 10 a 18 hs.</p>
                        <h2 class="text-white mt-4 mb-0"><a href="https://wa.me/5491162013725" target="_blank">(11) 6201-3725</a></h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="bg-dark h-100 p-5">
                        <h4 class="text-white">Atención en Obra:</h4>
                        <span class="text-white mt-1 mb-0 d-block">Av. San Martín 1748</span>
                        <span class="text-white mt-1 mb-0 d-block">Lunes a Viernes de 10 a 18 hs.</span>
                        <h2 class="text-white mt-4 mb-0"><a href="tel:1144782589">(11) 4478-2589</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================================= Need any help?-->

    <!--================================= footer-->
    <footer class="footer bg-primary space-pt">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-contact-info">
                        <h5 class="mb-4">Contacto</h5>
                        <div class="footer-link">
                            <ul class="list-unstyled mb-0 text-white">
                                <li>Comuníquese con nosotros de lunes a viernes de 09 a 20 hs</li>
                                <li>Tel. <a href="tel:01152389999" target="_blank">(011) 5238-9999</a></li>
                                <li>WhatsApp: <a href="https://wa.me/5491125099000" target="_blank">(011) 2509-9000</a></li>
                                <li><a href="mailto:info@soloduenos.com">info@soloduenos.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
                    <div class="footer-link">
                        <h5 class="mb-4">Búsquedas Frecuentes</h5>
                        <ul class="list-unstyled mb-0">
                            <li> <a href="#">Alquiler en CABA</a> </li>
                            <li> <a href="#">Inmuebles Comerciales </a> </li>
                            <li> <a href="#">Countries & Barrios Cerrados </a> </li>
                            <li> <a href="#">Avisos con Fotos 360º </a> </li>
                            <li> <a href="#">Últimas propiedades ingresadas </a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
                    <div class="footer-recent-List">
                        <h5 class="mb-4">Servicios Útiles</h5>
                        <ul class="list-unstyled mb-0">
                            <li>
                                <div class="footer-recent-list-item">
                                    <img class="img-fluid" src="images/property/list/01.jpg" alt="">
                                    <div class="footer-recent-list-item-info">
                                        <h6><a class="category font-md mb-2" href="property-detail-style-01.html">Video 360º</a></h6>
                                        <span class="text-white font-sm">Exclusivo de solodueños.com</span>
                                        <a class="text-white mb-2" href="#">VER MÁS</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="footer-recent-list-item">
                                    <img class="img-fluid" src="images/property/list/02.jpg" alt="">
                                    <div class="footer-recent-list-item-info">
                                        <h6 class="text-white"><a class="category font-md mb-2" href="property-detail-style-01.html">Servicio Fotográfico</a></h6>
                                        <span class="text-white font-sm">Fotos profesionales</span>
                                        <a class="text-white mb-2" href="#">VER MÁS</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
                    <h5 class="mb-4">Blog</h5>
                    <div class="footer-subscribe">
                        <p class="text-white">¿Desea recibir nuestras novedades?</p>
                        <form>
                            <div class="form-group">
                                <input type="email" class="form-control" aria-label="email">
                            </div>
                            <button type="submit" class="btn btn-secondary btn-sm">Suscribirme</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-5 text-center text-md-left">
                        <a href="#"><img src="images/logo-light.png" alt="Solodueños.com logo white" class="img-fluid"> </a>
                    </div>
                    <div class="col-md-2 text-center my-3 mt-md-0 mb-md-0">
                        <a id="back-to-top" class="back-to-top" href="#"><i class="fas fa-angle-double-up"></i> </a>
                    </div>
                    <div class="col-md-5 text-center text-white d-flex flex-column-reverse align-items-center flex-md-row align-items-md-start justify-content-md-end">
                        <img src="images/data-fiscal.png" alt="Data Fiscal" height="90" width="63">
                        <div class="text-center text-md-left ml-md-3">
                            <p>© Copyright 1999/2021 - Soloduenos.com - Todos los derechos reservados.</p>
                            <p>Términos y Condiciones de Publicación • Funcionamiento • Política de privacidad</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--================================= footer-->

    <!--================================= Javascript -->

    <!-- JS Global Compulsory (Do not remove)-->
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/popper/popper.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>

    <!-- Page JS Implementing Plugins (Remove the plugin script here if site does not use that feature)-->
    <script src="js/jquery.appear.js"></script>
    <script src="js/counter/jquery.countTo.js"></script>
    <script src="js/select2/select2.full.js"></script>
    <script src="js/range-slider/ion.rangeSlider.min.js"></script>
    <script src="js/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/jarallax/jarallax.min.js"></script>
    <script src="js/jarallax/jarallax-video.min.js"></script>
    <script src="js/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Template Scripts (Do not remove)-->
    <script src="js/custom.js"></script>

</body>

</html>