// formas de pago
.formas-de-pago {
    .owl-carousel {
        .owl-stage {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .owl-item {
            display: grid;
            justify-content: center;
            align-items: center;
        }
    }
}
